# dependencies
node_modules/
server/node_modules/

# builds
dist/
build/

# env
server/.env
server/.env

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# OS
.DS_Store
Thumbs.db

# uploads (repoya koymak istemezsen)
server/uploads/
